body {
    font-family: 'Playfair Display', serif; /* Apply Playfair Display font on the first page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #323131; /* Background color */
    color: #E8E8E8; /* Text color */
}

#question-screen {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #E8E8E8; /* Option box background color */
    color: #323131; /* Text color in option boxes */
    border: none;
    border-radius: 5px; /* Optional: To make the buttons look nicer */
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

button:hover {
    background-color: #d3d3d3; /* Optional: Button hover effect */
}

#next-screen {
    background-color: #303D6F; /* Updated background color */
    color: #FFFFFF; /* Text color to contrast with the background */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    display: flex; /* Flexbox for centering content */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; /* To hide any overflow of moving text */
    padding: 20px; /* Padding for some spacing around the content */
    box-sizing: border-box; /* Include padding in width and height */
    text-align: center; /* Ensure text is centered within its container */
    font-family: 'Silkscreen', sans-serif; /* Apply Silkscreen font */
}

#text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-content h2 {
    font-size: 2.5em; /* Adjust the size as needed */
    margin-bottom: 20px; /* Space between heading and text */
}

.typewriter {
    font-size: 2em; /* Increase the size of the text */
    border-right: 0.15em solid #FFFFFF; /* Cursor effect */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    animation: typewriter 6s steps(40, end) infinite, pause 8s 6s infinite; /* Infinite typewriter effect with pause */
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@key
