body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #323131; /* Background color */
    color: #E8E8E8; /* Text color */
}

#question-screen {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #E8E8E8; /* Option box background color */
    color: #323131; /* Text color in option boxes */
    border: none;
    border-radius: 5px; /* Optional: To make the buttons look nicer */
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

button:hover {
    background-color: #d3d3d3; /* Optional: Button hover effect */
}

#next-screen {
    background-color: #303D6F; /* Hot pink background color */
    color: #FFFFFF; /* Text color to contrast with the hot pink background */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    display: flex; /* Flexbox for centering content */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; /* To hide any overflow of moving text */
    padding: 20px; /* Padding for some spacing around the content */
    box-sizing: border-box; /* Include padding in width and height */
}

#next-screen h2 {
    overflow: hidden;
    white-space: nowrap;
    font-size: 2em; /* Adjust the size as needed */
    display: inline-block;
    animation: slide 10s linear infinite;
}

#next-screen p {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5em; /* Increase the size of the paragraph text */
    display: inline-block;
    animation: slide 15s linear infinite;
    margin-top: 20px; /* Increase space between heading and paragraph */
}

@keyframes slide {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
